tests/audio/*.wav filter=lfs diff=lfs merge=lfs -text
documents/en/1_EN_AKPE_Script.pdf filter=lfs diff=lfs merge=lfs -text
documents/en/11_EN_Script[[:space:]]Abigaîl[[:space:]]A.[[:space:]]N'SOUGAN.pdf filter=lfs diff=lfs merge=lfs -text
documents/en/13_EN_SIMLAO_script.pdf filter=lfs diff=lfs merge=lfs -text
documents/en/3_EN_Script_Kaleb_BAGOUDJARE.pdf filter=lfs diff=lfs merge=lfs -text
documents/en/4_EN_Script[[:space:]]Audio[[:space:]]BERE.pdf filter=lfs diff=lfs merge=lfs -text
documents/en/8_EN_Script[[:space:]]KAKASSINA.pdf filter=lfs diff=lfs merge=lfs -text
documents/fr/9_FR_KOUFAME_SCRIPT_AUDIO.pdf filter=lfs diff=lfs merge=lfs -text
documents/en/12_EN_SIBABI_Script_final_audio.pdf filter=lfs diff=lfs merge=lfs -text
documents/en/5_EN_Script_BONE.pdf filter=lfs diff=lfs merge=lfs -text
documents/en/9_EN_KOUFAME_SCRIPT_AUDIO.pdf filter=lfs diff=lfs merge=lfs -text
documents/fr/13_FR_SIMLAO_script.pdf filter=lfs diff=lfs merge=lfs -text
documents/fr/4_FR_Script[[:space:]]Audio[[:space:]]BERE.pdf filter=lfs diff=lfs merge=lfs -text
documents/fr/5_FR_Script_BONE.pdf filter=lfs diff=lfs merge=lfs -text
documents/en/2_EN_AMANA_SCRIPT[[:space:]]AUDIO.pdf filter=lfs diff=lfs merge=lfs -text
documents/en/7_EN_Kadanga_Script.pdf filter=lfs diff=lfs merge=lfs -text
documents/fr/10_FR_N'JOKU_SCRIPT.pdf filter=lfs diff=lfs merge=lfs -text
documents/fr/11_FR_Script[[:space:]]Abigaîl[[:space:]]A.[[:space:]]N'SOUGAN.pdf filter=lfs diff=lfs merge=lfs -text
documents/fr/12_FR_SIBABI_Script_final_audio.pdf filter=lfs diff=lfs merge=lfs -text
documents/fr/2_FR_AMANA_SCRIPT[[:space:]]AUDIO.pdf filter=lfs diff=lfs merge=lfs -text
documents/fr/6_FR_SCRIPT[[:space:]]DE[[:space:]]RAMEAUX.pdf filter=lfs diff=lfs merge=lfs -text
documents/fr/8_FR_Script[[:space:]]KAKASSINA.pdf filter=lfs diff=lfs merge=lfs -text
documents/en/10_EN_N'JOKU_SCRIPT.pdf filter=lfs diff=lfs merge=lfs -text
documents/en/6_EN_SCRIPT[[:space:]]DE[[:space:]]RAMEAUX.pdf filter=lfs diff=lfs merge=lfs -text
documents/fr/1_FR_AKPE_Script.pdf filter=lfs diff=lfs merge=lfs -text
documents/fr/3_FR_Script_Kaleb_BAGOUDJARE.pdf filter=lfs diff=lfs merge=lfs -text
documents/fr/7_FR_Kadanga_Script.pdf filter=lfs diff=lfs merge=lfs -text
src/rag/database/chroma.sqlite3 filter=lfs diff=lfs merge=lfs -text
